<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->
    <meta charset="utf-8" />
    <title>Series</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      href="{{url_for('static', filename='style_movie.css')}}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="logo">Movies DB</div>
    <nav>
      <ul>
        <li>
          <a href="http://localhost:5000/">Home</a>
        </li>
        <li>
          <a href="https://www.imdb.com/chart/toptv/">Imdb recommendations</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/mesicka/">Credits</a>
        </li>
      </ul>
    </nav>
    <p></p>

    <form action="/logout" method="Post">
      <p><input type="submit" class="btn btn-success" value="press to logout" /></p>
    </form>
    <h1>It's time to rate and review movies.</h1>
    <form action="/rating" method="Post">
    <p> Please enter movie_id, review and rate the movie:
      <p>Enter movie id:</p>
      <p><input type="number" name="fn" /></p>
      <p>Enter review:</p>
      <p><input type="text" name="rv" /></p>
      <p>Enter score:</p>
      <p><input type="number" name="sc" /></p>
      <p><input type="submit" class="btn btn-success" value="submit" /></p>
    </form>
    <form action="/company_count" method="Post">
      <p>Enter company id to find out how many films have they produced :</p>
      <p><input type="number" name="cn" /></p>
      <p><input type="submit" class="btn btn-success" value="submit" /></p>
    </form>

    <h3>{{production_count | safe }}</h3>
     </body>
</html>
